

body {
    height: 100%;
}

.header {
  padding: 20px;
  text-align: center;
  background: white;
  font-size: 20px;
  color: #191970;
  font-family: 'Quicksand', sans-serif;
}




.datapoint:hover {
    fill: black;
}

.axis line{
  stroke: white;
    stroke: white;
  stroke-width: 2px;
}

.axis path{
  stroke: white;
  stroke-width: 2px;
}

.axis text{
  fill: white;
  font-family: tahoma, sans-serif;
}  


.chart-container {
    background-color: #191970;
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 20px;
    vertical-align: top;
    overflow: hidden;
}
.chart-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.tooltip-wrapper {
    position: relative;
    width: 30px;
}

.tooltip {
    display: inline;
    position: absolute;
	opacity: 0;
	text-align: left;				
	padding: 5px;				
	font: 12px sans-serif;
	color:#fff;		
	background: #333;	
	border: 0px;		
	border-radius: 2px;			
	pointer-events: none;
	z-index: 1099;
}

.tooltip-content {
  display: inline-block;
}

.color-swatch {
    width: 100%;
    height: 100%;
    display: inline-block;
    grid-column-start: 2;
    grid-column-end: 2;
}

#rating-swatch0 {
    grid-area: color0;
}

#rating-swatch1 {
    grid-area: color1;
}

#rating-swatch2 {
    grid-area: color2;
}

#rating-swatch3 {
    grid-area: color3;
}

.info-wrapper {
    display: flex;
    justify-content: center;
}

#legend {
    display: inline-grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas: 
        "header header"
        "info info"
        "rating0 color0"
        "rating1 color1"
        "rating2 color2"
        "rating3 color3";
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    font-family: sans-serif;
    min-width: 300px;
}

#legend p {
    font-size: 12px;
}


#legend #header {
    grid-area: header;
    text-align: center;
}

#legend #legend-info {
    grid-area: info;
    text-align: center;
    line-height: 1.6em;
    font-size: 12px;
    margin-bottom: 10px;
}

#legend #legend-info p{
    margin-top: 0px;
    margin-bottom: 0px;

}

#legend #rating0 {
    grid-area: rating0;
}

#legend #rating1 {
    grid-area: rating1;
}

#legend #rating2 {
    grid-area: rating2;
}

#legend #rating3 {
    grid-area: rating3;
}

#footertext {
    text-align: center;
    color: white;
    font-size: 10px;
    margin-top: 40px;
}



