

body {
    height: 100%;
}

.header {
  padding: 40px;
  text-align: center;
  background: #EAEAFA;
  font-size: 30px;
  color: #191970;
}

.datapoint:hover {
    fill: black;
}

.axis line{
  stroke: white;
    stroke: white;
  stroke-width: 2px;
}

.axis path{
  stroke: white;
  stroke-width: 2px;
}

.axis text{
  fill: white;
  font-family: tahoma, sans-serif;
}  


.chart-container {
    background-color: #191970;
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
.chart-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.tooltip-wrapper {
    position: relative;
    width: 30px;
}

.tooltip {
    display: inline;
    position: absolute;
	opacity: 0;
	text-align: left;				
	padding: 5px;				
	font: 14px sans-serif;
	color:#fff;		
	background: #333;	
	border: 0px;		
	border-radius: 2px;			
	pointer-events: none;
	z-index: 1099;
}

.tooltip-content {
  display: inline-block;
}

.color-swatch {
    width: 10px;
    height: 10px;
    display: inline-block;
    float: right;
}

.legend-wrapper {
    justify-content: center;
    display: flex
}

#legend {
    display: inline-grid;
    background: #EAEAFA;
    padding: 20px;
    
}



